body {
    min-height: 100svh;
    font-family: system-ui, sans-serif;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

header {
    background: darkred;
}

aside {
    background: darkblue;
    grid-row: 1 / -3;
}

main {
    background: darkkhaki;
    grid-column: 2;
}