:root {
    --color-blue: #1992D4;
    --color-yellow: #F0B429;
    --color-main-bg: #E2E8F0;
    --color-grey: #828181;
    --color-pink: #FDA4AF;
    --shadow-color: 0deg 0% 0%;
    --shadow:
        0.2px 0.2px 0.3px hsl(var(--shadow-color) / 0.12),
        1px 0.8px 1.5px -1px hsl(var(--shadow-color) / 0.14),
        3.8px 3.1px 5.8px -2px hsl(var(--shadow-color) / 0.15);
}

body {
    min-height: 100svh;
    font-family: system-ui, sans-serif;
    display: grid;
    grid-template-columns: 16rem 5fr;
}

main p {
    color: var(--color-grey);
}

a {
    color: inherit;
    text-decoration: none;
}

h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.m-top {
    margin-top: 2rem;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
}

/* Header */

header {
    padding: 1rem 2rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: 2fr 1fr;
}

header .avatar {
    background-color: var(--color-yellow);
}

header a {
    font-weight: bold;
}

.search {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.search input {
    width: 100%;
    appearance: none;
    border: 0;
    background-color: var(--color-main-bg);
    border-radius: 1rem;
    padding-inline: 1rem;
}

.user-account {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
}

.user-account .avatar {
    width: 2.4rem;
    height: 2.4rem;
}

.user-info {
    grid-row: 2;
    display: flex;
    gap: 1rem;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
}

button {
    cursor: pointer;
    padding: 0.4rem 1.5rem;
    border: 0;
    border-radius: 40rem;
    color: #fff;
    font-weight: bold;
    background-color: var(--color-blue);
}

/* Sidebar */

aside {
    background: var(--color-blue);
    grid-row: 1 / span 2;
    color: white;
    font-weight: bold;
}

aside a {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1rem;
    padding: 1rem;
}

aside .icon {
    fill: white;
}

.nav {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}

.nav-list {
    list-style: none;
    padding: 0;
}

.nav-list-item {
    display: flex;
}

/* Main */

main {
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 1fr 1fr;
    grid-column: 2;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--color-main-bg);
}

main .icon {
    fill: black;
}

.projects {
    grid-row: 1 / span 2;
}

.card {
    background-color: #fff;
    display: grid;
    align-content: space-between;
    border-radius: 8px;
    padding: 1.5rem;
    border: 0;
    box-shadow: var(--shadow);
}

.projects .card {
    border-left: 8px solid var(--color-yellow);
}

.projects {
    display: flex;
    flex-direction: column;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    gap: 2rem;
    flex-grow: 1;
}

.project-icons {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
    gap: 1rem;
}

.announcement+.announcement {
    padding-top: 1rem;
}

.trending {
    grid-column: 2;
}

.trending .card {
    gap: 1rem;
}

.trend {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.avatar {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    flex-shrink: 0;
}

.trend:nth-child(1) .avatar {
    background-color: var(--color-main-bg);
}

.trend:nth-child(2) .avatar {
    background-color: var(--color-yellow);
}

.trend:nth-child(3) .avatar {
    background-color: var(--color-grey);
}

.trend:nth-child(4) .avatar {
    background-color: var(--color-pink);
}

.trend p:first-of-type {
    color: black;
}